		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content container">
					<header>
						<h2>Contact Us</h2>
						<p>This site was created by redditors at /r/CodersForSanders. </br> We are not affiliated with the Bernie Sanders 2016 Campaign. </br> Did we miss anything? Want to volunteer with us? Leave us a note.</p>
					</header>
					<div class="box container 75%">

					<!-- Contact Form -->
							<form method="post" action="http://formspree.io/bernieonissues@gmail.com">
								<div class="row 50%">
									<div class="6u 12u(mobile)"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u 12u(mobile)"><input type="email" name="email" placeholder="Email" /></div>
								</div>
								<div class="row 50%">
									<div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
								</div>
								<div class="row">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>

					</div>
				</div>
			</section>